<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home page <%= 5+3 %></h1>
    <h1>Username is: <%= username %></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt ut nemo, exercitationem tenetur est placeat odit a. Impedit nisi sint mollitia perspiciatis nesciunt dicta itaque fugiat cum, inventore laudantium ut!</p>
</body>
</html>